@font-face {
  font-family: "Flavor-Rergular";
  src: url("../assets/Flavors/Flavors-Regular.ttf") format(truetype);
}

body {
  background-color: lightpink;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 6em auto;
  font-size: 4rem;
  font-family: "Flavor-Rergular";
}

input {
  margin: 5px 0 7px 0;
  font-family: "PermanentMarker-Regular";
  font-size: 4rem;
}
textarea {
  font-size: 2rem;
  font-family: "AreYouSerious-Regular";
}
.formInput {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  width: 60rem;
}
.formInput label {
  padding-bottom: 12px;
}
.button {
  height: 5rem;
  font-size: 4rem;
  font-family: "Flavor-Rergular";
}
input[type="checkbox"] {
  height: 3rem;
  padding-bottom: 12px;
}
