@font-face {
  font-family: "FascinateInline-Regular";
  src: url("./assets/Fascinate_Inline/FascinateInline-Regular.ttf")
    format(truetype);
}

.nav {
  background-color: rgb(6, 173, 239);
  color: rgb(220, 46, 104);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 3rem;
}
.site-title {
  font-size: 5rem;
  font-family: "FascinateInline-Regular";
}
.site-title :nth-child(7n + 1) {
  color: blueviolet;
}
.site-title :nth-child(7n + 2) {
  color: rgb(231, 17, 167);
}
.site-title :nth-child(7n + 3) {
  color: rgb(43, 141, 226);
}
.site-title :nth-child(7n + 4) {
  color:rgb(228, 101, 16);
}
.site-title :nth-child(5){
    color: rgb(16, 231, 48);
}
.site-title :nth-child(6){
    color: rgb(226, 226, 8); 
}
.site-title :nth-child(7){
    color: rgb(226, 43, 43);
}
.nav li:hover {
  color: plum;
  background-color: rgb(228, 50, 228);

  border-radius: 10%;
}
